<div class="card real bg-zinc-700 rounded-md text-center h-60 cursor-pointer hover:bg-zinc-600" style="width: 18rem;margin: 5px;">
    <div class="card-body flex items-center justify-center">
        <img loading="{{lazy}}" alt="{{title}}" src='{{imageSrc}}' /> 
    </div>
</div>
