<div class="card bg-gray-100 rounded-md text-center h-48 cursor-pointer hover:bg-gray-50" style="width: 18rem;margin: 5px;">
        <div class="card-header">
            Today's Top Hits
        </div>
        <div class="card-body flex items-center justify-center">
            <h3 class="card-title text-xl">GRAPH IMAGE HERE</h3>
        </div>
        <div class="card-footer text-muted">
            Acousticness vs Danceability
        </div>
    </div>