 <div class="card bg-gray-100 rounded-md border-2 border-dashed border-gray-400 text-center h-48 cursor-pointer hover:bg-gray-50" style="width: 18rem;margin: 5px;">
        <div class="card-body flex items-center justify-center">
            <h3 class="card-title text-xl font-bold	">+ New Graph</h3>
        </div>
    </div>