<a href="/start?first=false">
    <div class="gcContainer cursor-pointer" style="margin: 1%;">
        <div class="gc card bg-zinc-700 rounded-md text-center h-60 border-2 border-dashed border-zinc-500" style="width:18rem">
            <div class="card-body flex items-center justify-center"  style="color:white">
                <h3 class="card-title text-xl font-bold	">+ New Graph</h3>
            </div>
        </div>
    </div>
</a>