<a href="/start?first=false">
    <div class="card bg-zinc-700 rounded-md text-center h-60 border-2 border-dashed border-zinc-500 cursor-pointer hover:bg-zinc-600" style="width: 18rem;margin: 5px;">
        <div class="card-body flex items-center justify-center" style="color:white">
            <h3 class="card-title text-xl font-bold	">+ New Graph</h3>
        </div>
    </div>
</a>
