<!DOCTYPE html>
<html lang="en">

<head>
     {{> head}}
    <title>SmartLists</title>
</head>

<body style="text-align: center;">
    {{> nav navState=navState}}
    <div class="content">
        {{{body}}}
    </div>

    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/handlebars.min.js"></script>
    <script src="/assets/partials/bubble.js"></script>
    <script src="/assets/index.js"></script>
    <script>
        $(document).ready(function() {
            // Sends search requests to the server
            $("#playlist-search-form").submit(function(event) {
                var formData = {
                    'search': $('#playlist-search-input').val()
                };

                $.ajax({
                    'type': 'POST',
                    'url': location.origin + location.pathname,
                    'data': formData,
                    'dataType': 'json',
                    'encode': 'true'
                }).done(function(data) {
                    console.log(data);
                });
                event.preventDefault();
            });
        });


        var scrollContainer = document.getElementById('right');
        document.body.addEventListener("wheel", (evt) => {
            evt.preventDefault();
            scrollContainer.scrollLeft += evt.deltaY;
            scrollContainer.scrollLeft += evt.deltaX;
        }, {
            passive: false
        });
    </script>
</body>

{{{sections.script}}}
</html>