<!DOCTYPE html>
<html lang="en">

<head>
     {{> head}}
    <title>SmartLists</title>
</head>

<body style="text-align: center;">
    {{> nav navState=navState}}
    <div class="content" id="content">
        {{{body}}}
    </div>

    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/pjax.min.js"></script>
    <script src="/assets/handlebars.min.js"></script>
    <script src="/assets/partials/bubble.js"></script>
    <script src="/assets/index.js"></script>
    <script>

        function populateBubbles(callback = null, url = null) {
            if (location.pathname == "/start" && url != "/next") {
                $.ajax({
                        'type': 'GET',
                        'url': '/api/playlists',
                        'dataType': 'json'
                    }).done(function(data) {
                        var userPlaylists = data.result.playlists;
                        InsertBubbles(userPlaylists);
                        $(".bubble").on('click', function(event){
                            curPath = $(this).attr('href');
                        });
                        animateFlex("item", "right");
                        if (callback && typeof callback === "function") {
                            callback();
                        }
                    }).fail(function(err) {
                        console.log('Error fetching user-playlists');
                    });
            } else if (location.pathname == "/" && url != "/next") {
                animateFlex("item", "right");
            } else {
                if (callback && typeof callback === "function") {
                    callback();
                }
            }
        }
        

        $("#right").ready(function() {
                populateBubbles(function() {
                    $(document).on('pjax:complete', function(event) {
                        populateBubbles(null, event.currentTarget.location.pathname);
                    });
                    var pjax = new Pjax({
                        elements: "a.bubble",
                        selectors: ["#right", "#left"],
                        cacheBust: false,
                        switches: {
                            "#right": Pjax.switches.sideBySide,
                            "#left": Pjax.switches.sideBySide
                        },
                        switchesOptions: {
                            "#right": {
                                classNames: {
                                    remove: "animate__animated animate__fadeOutUp",
                                    add: "animate__animated animate__fadeInUp"
                                }
                            },
                            "#left": {
                                classNames: {
                                    remove: "animate__animated animate__fadeOutUp",
                                    add: "animate__animated animate__fadeInUp",
                                },
                                callbacks: {
                                    removeElement: function(el) {
                                        el.style.marginLeft = "-" + (el.getBoundingClientRect().width/2) + "px"
                                        el.style.position = "absolute"
                                        el.style.left = "50%"
                                    },
                                }
                            }
                        },
                    })
                });

            // Sends search requests to the server
            $("#playlist-search-form").submit(function(event) {
                var formData = {
                    'search': $('#playlist-search-input').val()
                };

                $.ajax({
                    'type': 'POST',
                    'url': location.origin + location.pathname,
                    'data': formData,
                    'dataType': 'json',
                    'encode': 'true'
                }).done(function(data) {
                    console.log(data);
                });
                event.preventDefault();
            });


        });

        var scrollContainer = document.getElementById('right');
        document.body.addEventListener("wheel", (evt) => {
            evt.preventDefault();
            scrollContainer.scrollLeft += evt.deltaY;
            scrollContainer.scrollLeft += evt.deltaX;
        }, {
            passive: false
        });
    </script>
</body>

</html>