<!DOCTYPE html>
<html lang="en">

<head>
     {{> head}}
    <title>SmartLists</title>
    <style>
         ::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
        
         ::-webkit-scrollbar-track {
            background-color: gray;
        }
        
         ::-webkit-scrollbar-thumb {
            background-color: #d6dee1;
            border-radius: 20px;
        }
        
        .line {
            display: inline-block;
        }
        
        #right {
            width: 100%;
            height: 50%;
            bottom: 33vh;
            overflow-y: hidden;
            overflow-x: scroll;
            padding: 0px 15px;
            top: initial;
            left: initial;
        }
        
        #backRight {
            overflow: hidden;
        }
        
        .footer {
            position: absolute;
            bottom: 0px;
            font-size: 12px;
            max-width: 65%;
        }
    </style>
</head>

<body style="text-align: center;">
    {{> nav navState=navState}}
    <div class="content">
        {{{body}}}
    </div>

    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/index.js"></script>
    <script>
        animateFlex("item", "right");

        $(document).ready(function() {
            $("#playlist-search-form").submit(function(event) {
                var formData = {
                    'search': $('#playlist-search-input').val()
                };

                $.ajax({
                    'type': 'POST',
                    'url': location.origin + location.pathname,
                    'data': formData,
                    'dataType': 'json',
                    'encode': 'true'
                }).done(function(data) {
                    console.log(data);
                });
                event.preventDefault();
            });
        });

        var scrollContainer = document.getElementById('right');
        document.body.addEventListener("wheel", (evt) => {
            evt.preventDefault();
            scrollContainer.scrollLeft += evt.deltaY;
            scrollContainer.scrollLeft += evt.deltaX;
        }, {
            passive: false
        });
    </script>
</body>

</html>