<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
    <title>SmartLists</title>
    <script src="/assets/echarts.min.js"> </script>
    <style>
        body {
            overflow: unset;
        }
        .content {
            position: relative;
            top: 56px;
            padding: 4% 10%;
            overflow: initial;
                height: calc(100vh - 56px);
        }
        
        #inner {
            max-width: initial;
        }
    </style>
</head>

<body>
    {{> nav navState=navState}}
    <div class="content">
        {{{body}}}
    </div>


    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/index.js"></script>
    <script src="/assets/handlebars.min.js"></script>
    <script src="/assets/partials.js"></script>
    <script src="/assets/js/bootstrap-select.min.js"></script>
    <script src="/assets/index.js"></script>
    <script src="/assets/graph.js"></script>
    {{{sections.script}}}

</body>
</html>