<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
    <title>SmartLists</title>
    <style>
        .content {
            position: relative;
            top: 56px;
            padding: 4% 10%;
            overflow: initial;
        }
        
        #inner {
            max-width: initial;
        }
    </style>
</head>

<body>
    {{> nav navState=navState}}
    <div class="content">
        {{{body}}}
    </div>

    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/index.js"></script>
</body>

</html>