<div id="left">
    <div id="inner">
        <h1 class="text-4xl">SmartLists Demo</h1>
        <p>Choose the type of graph and variables you would like to visualize.</p>
        <form id="graph-configure-form" action="javascript:void(0);">
            <br>
            <h2>Graph Type</h2>
            <div class="input-group" style="padding-top:3%;">
                <select id="graphPicker" class="selectpicker" data-size="4" data-width="100%" required>
                    <optgroup label="2D">
                        <option value="bar" data-size="1">Bar</option>
                        <option value="scatter" data-size="2">Scatter</option>
                    </optgroup>
                    <optgroup label="3D">
                        <option value="bar3d" data-size="3">Bar</option>
                        <option value="scatter3d" data-size="3">Scatter</option>
                    </optgroup>
                    {{!-- <option value="pie" data-size="1">Pie</option> --}}
                    {{!-- <option value="line" data-size="2">Line</option> --}}
                </select>
            </div>
            <br>
            <h2>Variables</h2>
            <div class="input-group" style="padding-top:3%;">
                <select id="variablePicker" class="selectpicker" multiple data-max-options="1" data-width="100%" data-size="5" required>
                    {{!-- <option value="1" data-content="<span class='badge text-bg-dark'>Popularity</span>" selected>Popularity</option> --}}
                    {{!-- <option value="2" data-content="<span class='badge text-bg-dark'>Release Date</span>">Release Date</option> --}}
                    <option class="nonscale" value="duration_ms" data-content="<span class='badge text-bg-dark'>Duration</span>">Duration</option>
                    <option value="danceability" selected data-content="<span class='badge text-bg-dark'>Danceability</span>">Danceability</option>
                    <option value="energy" data-content="<span class='badge text-bg-dark'>Energy</span>">Energy</option>
                    <option class="nonscale" value="loudness" data-content="<span class='badge text-bg-dark'>Loudness</span>">Loudness</option>
                    <option value="speechiness" data-content="<span class='badge text-bg-dark'>Speechiness</span>">Speechiness</option>
                    <option value="acousticness" data-content="<span class='badge text-bg-dark'>Acousticness</span>">Acousticness</option>
                    <option value="instrumentalness" data-content="<span class='badge text-bg-dark'>Instrumentalness</span>">Instrumentalness</option>
                    <option value="liveness" data-content="<span class='badge text-bg-dark'>Liveness</span>">Liveness</option>
                    <option value="valence" data-content="<span class='badge text-bg-dark'>Valence</span>">Valence</option>
                    <option class="nonscale" value="tempo" data-content="<span class='badge text-bg-dark'>Tempo</span>">Tempo</option>
                    <option class="nonscale" value="time_signature" data-content="<span class='badge text-bg-dark'>Time Signature</span>">Time Signature</option>
                    <option class="nonscale" value="key" data-content="<span class='badge text-bg-dark'>Key</span>">Key</option>
                    <option class="nonscale" value="mode" data-content="<span class='badge text-bg-dark'>Mode</span>">Mode</option>
                </select>
            </div>
            <a class="btn btn-spotify-inversed col-8" href="#" onclick="renderGraph()" style="margin-top:5%">Generate Graph</a>
        </form>
    </div>
    <p class="footer">
        <span class="line">What do these variables measure? <a class="underline" href="/learn">Learn more</a>.</span>
    </p>
</div>

<div id="backRight">
    <div id="right" class="overflow-hidden">
        <div class="toast-container position-fixed end-0 p-3" style="z-index: 11; top:56px;">
            <div id="liveToast" class="toast hide text-bg-danger" role="alert" aria-live="assertive" aria-atomic="true" style="margin-bottom: 10px">
                <div class="toast-body text-center" id="toast-msg-text"></div>
            </div>
        </div>
        <div id="graph" style="margin-left: 10%; margin-right: 10%; width: 90%;height:60%"> </div>
    </div>  
</div>

{{#section 'script'}}
<script src="/assets/echarts-gl.min.js"></script>
<script type="application/javascript" id="dynamicScript">

document.body.removeEventListener("wheel", scrollHandler, { passive: false });
var xhr = new XMLHttpRequest();
var myChart, curType = "bar", curVars = ['danceability'];
var playerId;
$.getJSON('/assets/chalk.project.json', function(themeJSON) {
    echarts.registerTheme('chalk', themeJSON);
    myChart = echarts.init(document.getElementById('graph'), themeJSON['theme']);
    myChart.on('click', 'series', function (e) {
        var track_uri = e.data[e.data.length - 1];
        var a = document.createElement("a");
        a.href = "https://open.spotify.com/track/" + track_uri.split(':')[2];
        a.target = "_blank";
        a.click();
    });
});

var jsonData;
$(document).ready(function() {
        $.ajax({
            'type': 'GET',
            'url': '/api/playlists/public/' + findGetParameter('id'),
            'dataType': 'json'
        }).done(function(data) {
            jsonData = data.result;
            jsonData.tracks = jsonData.trackList;
            jsonData.metadata = jsonData.trackMetadata;
            barGraph(jsonData, ['danceability']);
        });
        window.onresize = function() {
            myChart.resize();
        };       
    });


    $('#left').ready(function() {
        $('#graphPicker').selectpicker();
        $('#variablePicker').selectpicker({
                multipleSeparator: ' '
            });
            
    });
    $('#graphPicker').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
        $('#variablePicker').selectpicker('deselectAll');
        $('#variablePicker').selectpicker('destroy');
        var val = $(this).val();
        var optionCount = 1;
        // Set the max number of variables per graph here
        var nonscale = document.querySelectorAll('.nonscale')
        nonscale.forEach(function(element) {
            element.removeAttribute("disabled");
        });
        switch(val) {
            case "bar":
                optionCount = 1;
                break;
            case "scatter":
                optionCount = 2;
                break;
            case "scatter3d":
                optionCount = 3;
                break;
            case "bar3d":
                optionCount = 3;
                nonscale.forEach(function(element) {
                    element.setAttribute("disabled", "disabled");
                });
                break;
            default:
                break;
        }
        $('#variablePicker').selectpicker({
            maxOptions: optionCount,
            multipleSeparator: ' '
        });
    });

    function renderGraph() {
        var graphType = $('#graphPicker').val();
        curType = graphType;
        var variables = $('#variablePicker').val();
        curVars = variables;
        // Call graph rendering function here
        switch(graphType) {
            case "bar":
                barGraph(jsonData, variables);
                break;
            case "scatter":
                scatterPlot(jsonData, variables);
                break;
            case "scatter3d":
                scatter3d(jsonData, variables);
                break;
            case "bar3d":
                bar3d(jsonData, variables);
                break;
            default:
                break;
        }
    }

    pjax.refresh();
</script>
{{/section}}