<div id="left">
    <div id="inner">
        <h1 class="text-4xl">Visualize Your Music</h1>
        <p>
            You're one click away from unlocking all of the data behind your favorite music.<br><br>
            With SmartLists you can compare the hidden data in your playlists through tons of graphs and AI generated visualizations.
        </p>
        <a class="btn btn-block btn-lg btn-spotify-inversed col-8" href="/api/auth/login" style="border-radius: 40px;margin-top:5%"><i class="fa fa-spotify" aria-hidden="true"></i> Get Started</a>
        <a id="learnMore" class="underline" href="/about">Learn More</a>
    </div>
</div>
<div id="backRight">
    <div id="right">
        {{#each playlists}}
            {{> bubble title=name imageSrc=(get "url" (first images)) curView="global" }}
        {{/each}}
    </div>
</div>

{{#section 'script'}}
<script type="application/javascript">
var scrollContainer = document.getElementById('right');
        document.body.addEventListener("wheel", (evt) => {
            evt.preventDefault();
            scrollContainer.scrollLeft += evt.deltaY;
            scrollContainer.scrollLeft += evt.deltaX;
        }, {
            passive: false
        });
animateLoad();
$.ajax({
    'type': 'GET',
    'url': '/api/featuredPlaylists',
    'dataType': 'json'
}).done(function(data) {
    document.querySelectorAll('.placeholder').forEach(el => {
        el.remove();
    })
    var featuredPlaylists = data.result.playlists;
    InsertBubbles(featuredPlaylists);
    // Animation must be played after the bubbles are finished being added.
    animateFlex("item", "right");
    pjax.refresh();
}).fail(function(err) {
    console.log('Error fetching featured-playlists');
});
</script>
{{/section}}
