<p>Testing area for rendering an ECharts graph. This page will be deleted soon. </p>
<br>
<br>

<div id="graph" style="width: 800px;height:400px;"> </div>


{{#section 'script'}}
<script src="/assets/echarts.min.js"> </script>
<script>

  var metadata;
  var tracks;
  var dataArr = [];
  $.ajax({
      'type': 'GET',
      'url': '/api/playlists/4wclicW06SbNnIg5iQE8J2/metadata',
      'dataType': 'json'
  }).done(function(data) {
      metadata = data.result.metadata;
      tracks = data.result.tracks;
      metadata.forEach(function(item) {
        dataArr.push(item["danceability"]);
      });
      myChart.setOption({
        series: [
          {
            data: dataArr
          }
        ]
      });
  });
    // Initialize the echarts instance based on the prepared dom
    var myChart = echarts.init(document.getElementById('graph'));

    var option = {
      xAxis: {
        name: 'Danceability',
      },
      yAxis: {
      },
      series: [
        {
          symbolSize: 20,
          type: 'line',
          data: dataArr
        }
      ]
    };

    // Display the chart using the configuration items and data just specified.
    myChart.setOption(option);

</script>
{{/section}}