<div id="inner" class="flex flex-wrap flew-row justify-around h-full">
    {{> placeholder-card }}
</div>

{{#section 'script'}}
<script type="application/javascript" id="dynamicScript">
var jsonData;

$(document).ready(function() {
    $.ajax({
        'type': 'GET',
        'url': '/api/auth/session/',
        'dataType': 'json'
    }).done(function(data) {
        jsonData = data.result;
        console.log(jsonData.graphs)
        if (jsonData.graphs) {
            for (let i = 0; i < jsonData.graphs.length; i++) {
                const element = Handlebars.templates['graph-card.hbs']({
                    imageSrc: jsonData.graphs[i].image,
                    title: jsonData.graphs[i].title,
                    variables: JSON.stringify(jsonData.graphs[i].variables),
                    id: i,
                    playlist: jsonData.graphs[i].playlist,
                    type: jsonData.graphs[i].graphType,
                });
                document.getElementById('inner').insertAdjacentHTML('afterbegin', element);
            }
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        }
    });    
});

function deleteGraph(idx) {
    $.ajax({
        'type': 'DELETE',
        'url': '/api/playlists/graphs/delete/' + idx,
    });
    location.reload();
}

function openGraph(playlist, type, variables) {
    window.location = '/next/?first=false&id=' + playlist + '&type=' + type + '&variables=' + JSON.stringify(variables);
}
</script>
{{/section}}
