<p>Testing area for rendering an ECharts graph. This page will be deleted soon. </p>
<br>
<br>

<div id="graph" style="width: 800px;height:400px;"> </div>


{{#section 'script'}}
<script src="/assets/echarts.min.js"> </script>
<script>
    // Initialize the echarts instance based on the prepared dom
    var myChart = echarts.init(document.getElementById('graph'));

    var option = {
        backgroundColor: '#2c343c',
        title: {
            text: 'Genre in Playlist Name',
            left: 'center',
            top: 20,
            textStyle: {
            color: '#ccc'
            }
        },
        tooltip: {
            trigger: 'item'
        },
        visualMap: {
            show: false,
            min: 80,
            max: 600,
            inRange: {
            colorLightness: [0, 1]
            }
        },
        series: [
            {
            name: 'Access From',
            type: 'pie',
            radius: '55%',
            center: ['50%', '50%'],
            data: [
                { value: 337, name: 'Rock' },
                { value: 310, name: 'Jazz' },
                { value: 274, name: 'Hiphop' },
                { value: 235, name: 'Blues' },
                { value: 400, name: 'Classical' }
            ].sort(function (a, b) {
                return a.value - b.value;
            }),
            roseType: 'radius',
            label: {
                color: 'rgba(255, 255, 255, 0.3)'
            },
            labelLine: {
                lineStyle: {
                color: 'rgba(255, 255, 255, 0.3)'
                },
                smooth: 0.2,
                length: 10,
                length2: 20
            },
            itemStyle: {
                color: '#c23531',
                shadowBlur: 200,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
            },
            animationType: 'scale',
            animationEasing: 'elasticOut',
            animationDelay: function (idx) {
                return Math.random() * 200;
            }
            }
        ]
    };

        myChart.setOption(option);

</script>
{{/section}}