<div class="toast-container position-fixed end-0 p-3" style="z-index: 11; top:56px;">
    <div id="liveToast2" class="toast hide " style="margin-bottom: 10px" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false" data-bs-animation="false">
            <div class="toast-header">
                <img style="height: 15px;" src="https://cdn-icons-png.flaticon.com/512/174/174872.png" class="rounded me-2" alt="Spotify">
                <strong class="me-auto">Spotify</strong>
                <a href="#" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></a>
            </div>
            <div class="toast-body" style="color:black">
                Now playing: <span id="toast-msg-text2"></span>
            </div>
    </div>
</div>

<div id="graph" style="height:80%;background-color:black;padding: 45px; border-radius: 25px;"> </div>

{{#section 'script'}}
<script src="/assets/echarts-gl.min.js"></script>
<script type="application/javascript" id="dynamicScript">

document.body.removeEventListener("wheel", scrollHandler, { passive: false });

var xhr = new XMLHttpRequest();
var myChart;
$.getJSON('/assets/chalk.project.json', function(themeJSON) {
    echarts.registerTheme('chalk', themeJSON);
    myChart = echarts.init(document.getElementById('graph'), themeJSON['theme']);
    myChart.on('click', 'series', function (e) {
        var track_uri = e.data[e.data.length - 1];
        var a = document.createElement("a");
        a.href = "https://open.spotify.com/track/" + track_uri.split(':')[2];
        a.target = "_blank";
        a.click();
    });
});
$(document).ready(function() {
        $.ajax({
            'type': 'GET',
            'url': '/api/playlists/snapshot/' + location.pathname.split('/')[2],
            'dataType': 'json'
        }).done(function(data) {
            var jsonData = data.result.playlist;
            jsonData.tracks = jsonData.trackList;
            jsonData.metadata = jsonData.trackMetadata;
            jsonData.title = jsonData.name;
            var graphType = data.result.graphType;
            var graphVars = data.result.variables;
            renderGraph(jsonData, graphType, graphVars);
        });
        window.onresize = function() {
            myChart.resize();
        };    
    });

    function renderGraph(jsonData, graphType, variables) {
        switch(graphType) {
            case "bar":
                barGraph(jsonData, variables);
                break;
            case "scatter":
                scatterPlot(jsonData, variables);
                break;
            case "scatter3d":
                scatter3d(jsonData, variables);
                break;
            case "bar3d":
                bar3d(jsonData, variables);
                break;
            default:
                break;
        }
    }
</script>
{{/section}}